<a href="https://colab.research.google.com/github/Kevinsamuelgitau/Gitau/blob/master/Samuel_Gitau_W6_IP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Importing important libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [6]:
#To load our first dataset
df = pd.read_csv('fifa_ranking.csv')
df.head()

   rank country_full  ... confederation   rank_date
0     1      Germany  ...          UEFA  1993-08-08
1     2        Italy  ...          UEFA  1993-08-08
2     3  Switzerland  ...          UEFA  1993-08-08
3     4       Sweden  ...          UEFA  1993-08-08
4     5    Argentina  ...      CONMEBOL  1993-08-08

[5 rows x 16 columns]

In [5]:
# To load our second dataset
df2 = pd.read_csv('results.csv')
df2.head()

         date home_team away_team  ...     city   country neutral
0  1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1  1873-03-08   England  Scotland  ...   London   England   False
2  1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3  1875-03-06   England  Scotland  ...   London   England   False
4  1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

In [0]:
# Renaming country column before merging
df.rename(columns = {'country_full': 'country'}, inplace = True)

In [10]:
# Merging the two datasets
combined= pd.merge(df, df2, left_on='country', right_on='country')
combined

          rank    country  ...       city  neutral
0            1    Germany  ...  Karlsruhe    False
1            1    Germany  ...   Duisburg    False
2            1    Germany  ...      Kleve    False
3            1    Germany  ...  Stuttgart    False
4            1    Germany  ...    Dresden    False
...        ...        ...  ...        ...      ...
10246505   195  Gibraltar  ...  Gibraltar    False
10246506   195  Gibraltar  ...  Gibraltar    False
10246507   195  Gibraltar  ...  Gibraltar    False
10246508   195  Gibraltar  ...  Gibraltar    False
10246509   195  Gibraltar  ...  Gibraltar    False

[10246510 rows x 24 columns]

In [12]:
# Check for missing Data
#
combined.isnull().sum()

rank                       0
country                    0
country_abrv               0
total_points               0
previous_points            0
rank_change                0
cur_year_avg               0
cur_year_avg_weighted      0
last_year_avg              0
last_year_avg_weighted     0
two_year_ago_avg           0
two_year_ago_weighted      0
three_year_ago_avg         0
three_year_ago_weighted    0
confederation              0
rank_date                  0
date                       0
home_team                  0
away_team                  0
home_score                 0
away_score                 0
tournament                 0
city                       0
neutral                    0
dtype: int64

In [13]:
# Checking if there are duplicates
combined.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
10246505    False
10246506    False
10246507    False
10246508    False
10246509    False
Length: 10246510, dtype: bool

In [14]:
#To remove white spaces in our columns
combined.columns.str.replace(" "," ")

Index(['rank', 'country', 'country_abrv', 'total_points', 'previous_points',
       'rank_change', 'cur_year_avg', 'cur_year_avg_weighted', 'last_year_avg',
       'last_year_avg_weighted', 'two_year_ago_avg', 'two_year_ago_weighted',
       'three_year_ago_avg', 'three_year_ago_weighted', 'confederation',
       'rank_date', 'date', 'home_team', 'away_team', 'home_score',
       'away_score', 'tournament', 'city', 'neutral'],
      dtype='object')

In [15]:
# To check dataset properties
combined.describe()

               rank  total_points  ...    home_score    away_score
count  1.024651e+07  1.024651e+07  ...  1.024651e+07  1.024651e+07
mean   6.916505e+01  1.723781e+02  ...  1.734292e+00  1.179052e+00
std    5.084864e+01  3.363458e+02  ...  1.733112e+00  1.381282e+00
min    1.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00
25%    2.500000e+01  0.000000e+00  ...  1.000000e+00  0.000000e+00
50%    6.100000e+01  0.000000e+00  ...  1.000000e+00  1.000000e+00
75%    1.050000e+02  1.966300e+02  ...  2.000000e+00  2.000000e+00
max    2.090000e+02  1.775030e+03  ...  3.100000e+01  2.100000e+01

[8 rows x 14 columns]

In [16]:
# To check datatypes
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10246510 entries, 0 to 10246509
Data columns (total 24 columns):
 #   Column                   Dtype
---  ------                   -----
 0   rank                     int64
 1   country                  object
 2   country_abrv             object
 3   total_points             float64
 4   previous_points          int64
 5   rank_change              int64
 6   cur_year_avg             float64
 7   cur_year_avg_weighted    float64
 8   last_year_avg            float64
 9   last_year_avg_weighted   float64
 10  two_year_ago_avg         float64
 11  two_year_ago_weighted    float64
 12  three_year_ago_avg       float64
 13  three_year_ago_weighted  float64
 14  confederation            object
 15  rank_date                object
 16  date                     object
 17  home_team                object
 18  away_team                object
 19  home_score               int64
 20  away_score               int64
 21  tournament               object
 22  city                     object
 23  neutral                  bool
dtypes: bool(1), float64(9), int64(5), object(9)
memory usage: 1.8+ GB

In [22]:
# To change rank_date from object to datetime
pd.to_datetime(combined['rank_date'])

0          1993-08-08
1          1993-08-08
2          1993-08-08
3          1993-08-08
4          1993-08-08
              ...
10246505   2018-06-07
10246506   2018-06-07
10246507   2018-06-07
10246508   2018-06-07
10246509   2018-06-07
Name: rank_date, Length: 10246510, dtype: datetime64[ns]

In [23]:
# To change rank_date from object to datetime
pd.to_datetime(combined['date'])

0          1909-04-04
1          1910-05-16
2          1910-10-16
3          1911-03-26
4          1911-10-09
              ...
10246505   2018-09-06
10246506   2018-10-16
10246507   2018-11-16
10246508   2019-03-23
10246509   2019-03-26
Name: date, Length: 10246510, dtype: datetime64[ns]

In [0]:
# To check for outliers through boxplots
#

fig, ((ax1, ax2), (ax3, ax4),(ax5, ax6), (ax7, ax8), (ax9,ax10), (ax11,ax12), (ax13)) = plt.subplots(7,2, figsize=(15, 15))

fig.suptitle('Boxplots')

sns.boxplot(combined['total_points'], ax=ax1)
sns.boxplot(combined['previous_points'], ax=ax2)
sns.boxplot(combined['rank_change'], ax=ax3)
sns.boxplot(combined['cur_year_avg'], ax=ax4)
sns.boxplot(combined['cur_year_avg_weighted'], ax=ax5)
sns.boxplot(combined['last_year_avg'], ax=ax6)
sns.boxplot(combined['last_year_avg_weighted'], ax=ax7)
sns.boxplot(combined['two_year_ago_avg'], ax=ax8)
sns.boxplot(combined['two_year_ago_weighted'], ax=ax9)
sns.boxplot(combined['three_year_ago_avg'], ax=ax10)
sns.boxplot(combined['rank_date'], ax=ax11)
sns.boxplot(combined['date'], ax=ax12)
sns.boxplot(combined['home_score'], ax=ax13)
plt.show()